<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
    <title><%= @title %></title>
    <time pubdate datetime="<%= @created %>"></time>
  </head>
  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <header>
          <h2><%= @title %></h2>
          <p><i><%= @created %></i></p>
        </header>
        <%= @inner_content %>
      </main>
    </div> <!-- /container -->
  </body>
</html>

