<h2 id="foo">a header</h2>
<h3 id="bar">a nested header</h3>
<h4 id="baz">another nested header</h4>
<h4 id="foobar">a sibling</h4>
<h3 id="qux">up a level</h3>
<h5 id="quz">skip a level down</h5>
<h2 id="quux">skip a level up</h2>
<h1 id="quuz">a higher-level header</h1>
